.filter-content {
  padding: 0 8px;
  color: white;
  font-size: 16px;
}

.only-buy-offers tbody tr.sell {
  display: none;
}

.only-sell-offers tbody tr.buy {
  display: none;
}

.order-arrow-down,
.order-arrow-up {
  cursor: pointer;
}

.only-bnb-chain tbody tr.poly,
.only-bnb-chain tbody tr.eth {
  display: none;
}

.only-eth-chain tbody tr.poly,
.only-eth-chain tbody tr.bnb {
  display: none;
}

.only-polygon-chain tbody tr.bnb,
.only-polygon-chain tbody tr.eth {
  display: none;
}

.order-arrows-content {
  display: inline-flex;
  margin-left: 4px;
}

table.flex-headers th {
  display: flex;
  gap: 8xp;
}

.too-low-multiplier {
  opacity: 0.2;
}
